@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400&family=Roboto:wght@300&display=swap');

:root {
    /*------colors------*/
    --bk-color: #FAEDE8;
    --deep-gray : #333;
    --white : #fff;
    --black: #000;
    --gray: #444;   
    --light-pink : #fdeeea;
    --blue: #007bff;
    --dark-blue: #0056b3;
    --purple: #BE7DFF;
    --bk-services: #FACEBD;
}

*, html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*------BODY------*/
body {
    background-color: var(--bk-color);
    color: #333;
    line-height: 1.6;
}

/*------HEADER------*/
.svg-container {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.svg-container svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 38px;
    font-weight: 300;
    color: var(--deep-gray);
    text-shadow: 1px 1px 5px rgba(44, 31, 31, 0.5);
    text-align: center;

}

.nav-container {
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

nav a {
    margin-left: 15px;
    font-size: 18px;
    text-decoration: none;
    color: var(--black);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease;
}

.active, nav a:hover {
    color: var(--black);
    font-weight: bold;
}

/*------MAIN------*/
main {
    max-width: 90%;
    margin: 50px auto;
}



.page-title {
    color: var(--black);
    margin-bottom: 40px
}

.page-title strong {
    color: var(--purple);
}

.services {
    display: flex;
    background-color: var(--bk-services);
    padding: 20px;
    border-radius: 10px;
}

.filters {
    width: 18%;
}

.title-fil {
    font-size: 1.8em;
    color: var(--black);
    text-decoration: underline;
}

.listaProfissionais, .listaServicos {
    margin-top: 10px;
}

.horaFiltro, .dataFiltro {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.horaFiltro label, 
.dataFiltro label {
    font-weight: bold;
}

.horaFiltro button, 
.dataFiltro button{
    background-color: var(--dark-blue);
    color: var(--white);
    border: 2px solid var(--dark-blue);
    width: 50%;
    align-self: flex-end;
}

.horaFiltro button:hover,
.dataFiltro button:hover{
    background-color: var(--white);
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    width: 50%;
    align-self: flex-end;
}

.checkbox {
    margin: 5px;
}

.vertical-line {
    width: 2px;
    height: auto;
    background-color: var(--gray);
    margin: 10px 20px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    max-height: 550px;
    height: auto;
    margin: 10px;
    border: 2px solid;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(to bottom, white, rgba(128, 0, 128, 0));
}

.card div img {
    width: 180px;
    aspect-ratio: 1/1;
}

.card div h1 {
    text-align: center;
}

.card p {
    width: 80%;
    text-align: justify;
}

.card hr {
    width: 90%;
}

.card h2 {
    font-size: 1.5em;
    align-self: self-start;
    margin: 0;
    margin-left: 20px;
}

.comprar-button {
    align-self: flex-end;
    width: 40%;
    padding: 5px;
    font-size: 1.0rem;
    background-color: #4169E1;
    color: white;
    border: 2px solid #4169E1;
    border-radius: 10px;
    text-align: center;
    transition: 300ms ease-in;
}

.comprar-button:hover{
    background-color: white;
    color: #4169E1;
}

/* Rodapé */
footer {
    margin-top: 50px;
    background-color: var(--black);
    color: var(--white);
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer-content img {
    margin: 5px;
    aspect-ratio: 1/1;
    width: 60px;
    height: 40px;
}